<!-- eman edit -->
{% extends 'baseregister.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Send Recovery Email{% endblock %}
{%block css%}{%endblock%}
{% block content %}
<div class="row mx-auto">
    <!-- design -->
    <div class=" col-lg-6  text-white " style="background-color: #0053cb;">
        <div class="container" >
            <!--margin: 64px;-->
            <h2 class="text-center pt-5 mx-5 "><span class="fw-bold">SmartEDU is the best </span>online learning
                experience</h2>
            <div class="container">
                <div class="carousel-slide mb-3" data-bs-ride="carousel">
                    <div class="container">
                        <div class="carousel-indicators" style="top: 684px;position: relative;">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                    </div>
                    <div class="carousel-inner py-3 text-center  mb-5 ">
                        <div class="carousel-item active" data-bs-interval="1000">
                            <img src="{% static 'images/Auth1.png'%}" alt="photo"width="40%">
                            <p class="text-center pb-4">No more frequent flaws, no boundaries between the
                                teacher and his students.</p>
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                            <img src="{% static 'images/Auth2.png'%}" alt="photo"width="40%">
                            <p class="text-center ">“You will never walk alone” is what we worked for
                                in order to reduce the gap between student and the
                                teacher.</p>
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                            <img src="{% static 'images/Auth3.png'%}" alt="photo"width="40%">
                            <p class="text-center  ">No matter how complex your course content is,
                                Smart-edu is smart enough to keep students focused on what
                                they have to
                                do.</p>
                        </div>
    
                    </div>
    
                </div>
            <div class="text-center mx-auto py-5 position-relative top-100 start-50 translate-middle mt-5">
                <p class="mb-4 mt-5 " >New to Smart edu?</p>
                <a href="{% url 'register' %}" class="text-white text-decoration-none"><button type="button" class="bg-transparent btn btn-outline-light px-5 mx-auto ">Create a new account</button></a>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-6 mt-lg-5 pt-lg-5" >
        <div class=" container mt-lg-5 pt-lg-5 ">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  
                  <div class="modal-header text-center mx-auto">
                      <i class=" p-2 mt-3 fa-solid fa-2xl fa-circle-check"style="color: #198754;"></i>
                      <div class="position-absolute top-0 end-0">
                      <button type="button" class="me-3 mt-2 bg-transparent border-0 "style="width: 20px;"data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                  </div></div>
                  <div class="modal-body  mt-4" >
                      <h4 style="text-align: center;font-weight: bold;">We sent you an e-mail with further instructions.</h4>
                      <p class="px-5 m-3 " style="text-align: center;    line-height: 19.6px;">  Please check your main and spam inboxs.</p>
                  </div>
                  <div class="modal-footer">
                      <div class="d-grid gap-2 col-8 mx-auto">
                      <a class="btn btn-primary" href="{% url 'user_login' %}">Go to login</a>
                      <a href="{% url 'password_reset' %}"class="btn btn-secondary text-decoration-none">close</a>
                      
                  </div>
              </div>
          </div>
      
        </div>
    </div>
    
</div>
{% endblock %}
<!-- eman end -->

