{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load bootstrap4 %}
{% block title %} {{ course.title }}/Question/{{ question.user.username }} {% endblock %}
{% block contentcourse %}
<br>
<br>
<br>
<br>
<div class="mt-5 row mx-auto">
  <div class="col-md-3  mb-4 text-center">
      <h1 class="pb-3 mx-auto bg-white" style="color: #0053cb;" >{{ course.title }}</h1>
      <div class="bg-light gy-5  hover-overlay ripple shadow-2-strong rounded-5 ">            
      {% if user.profile.user_type == 'teacher' %}
      <h4 class="border-scandary border-bottom py-4"><a href="{% url 'edit-course' course.id %}" class="text-decoration-none row"><i class="fa-solid fa-file-pen col-4 "></i>Edit course</a></h4>
      {% else %}
      
      {% endif %}            
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'modules' course.id %}"class="text-decoration-none row"><i class="fa-solid fa-file col-4 "></i>units</a></h4>
        {% if user.profile.user_type == 'student' %}
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'submissions' course.id %}"class="text-decoration-none row"><i class="fa-solid fa-chart-column col-4 "></i>Submissions</a></h4>
        {% endif %}
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'leaderboardcourse' course.id %}"class="text-decoration-none row"><i class="fa-solid fa-house-chimney col-4 "></i>Leaderboard</a></h4>
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'questions' course.id %}" class="text-decoration-none row"><i class="fa-solid fa-circle-question col-4"></i>Questions</a></h4>
        {% if user.profile.user_type == 'teacher' %}
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'student-submissions' course.id %}"class="text-decoration-none row"><i class="fa-solid fa-chart-column col-4 "></i>Submissions</a></h4>
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'student-quiz-submissions' course.id %}"class="text-decoration-none row"><i class="fa-solid fa-chart-column col-4 "></i>QuizSubmissions</a></h4>
        {% endif %}   
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'chatzoom'%}"class="text-decoration-none row"><i class="fa-solid fa-video col-4"></i>Start Meeting</a></h4>
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'rooms' course.id%}"class="text-decoration-none row"><i class="fa-solid fa-message col-4"></i>Chat Room</a></h4>
                 
      </div>
    </div>
  <div class="col-md-8 mb-4">
        <section class="container ">
          <div class=" gx-5 unit">
            <div class="section">
              <h4>Questions</h4>
            <div class="card">                      
              <div>
                {{ question.body | safe }}
              </div>
          
              <div>
                <div class="divider"></div>
                <h4><b>Asked by</b></h4>
              </div>
          
              <div class="col s12">
                <div class="card-panel grey lighten-5 z-depth-1">
          
                <div class="row">
                <div class="col s2">
                {% if question.user.profile.picture %}
                  <img src="{{ question.user.profile.picture.url }}" class="nav-img rounded-circle pe-1 " alt="photo" style="width: 50px;height: 50px;">
                {% else %}
                  <img src="{% static 'images/no_avatar.jpg' %}" class="nav-img rounded-circle pe-1 " alt="photo" style="width: 50px;height: 50px;">
                {% endif %}
                </div>
          
                <div class="col s10">
                  <p class="black-text"><b>{{ question.user.get_full_name }}</b> @{{ question.user.username }}</p>
                  <p class="black-text"><b>Asked: </b>{{question.created_date | naturaltime }}</p>
                </div>
                </div>
          
                </div>
              </div>
            </div>
              <div class="col s12">
                <h5><b>Answers: {{ answers.count }}</b></h5>
                <div class="divider"></div>
              </div>
              {% csrf_token %}
              <input type="hidden" name="url_path" value="{{ request.get_full_path }}">          
              <div class="col s12">
          
                {% for answer in answers %}
              <div class="card">
                <div class="col s12">
                <div class="card-panel grey lighten-5 z-depth-2">
          
                {% if answer.is_accepted_answer == True %}
                <div class="col s12 right-align" style="color:rgb(5, 88, 254);">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                  </svg>
                  <span class="h5">Correct Answer</span>
                </div>
                {% endif %}
          
                <div class="col s12">
                  {{ answer.body | safe }}
                </div>
          
                <div class="row">
                <div class="col s2">
                {% if answer.user.profile.picture %}
                  <img src="{{ answer.user.profile.picture.url }}" class="nav-img rounded-circle pe-1 " alt="photo" style="width: 50px;height: 50px;">
                {% else %}
                  <img src="{% static 'images/no_avatar.jpg' %}" class="nav-img rounded-circle pe-1 " alt="photo" style="width: 50px;height: 50px;">
                {% endif %}
                </div>
          
                <div class="col s10">
                  <p class="black-text"><b>{{ answer.user.get_full_name }}</b> @{{ answer.user.username }}</p>
                  <p class="black-text"><b>Answered: </b>{{answer.created_date | naturaltime }}</p>
                </div>
          
                <div class="col s12">
                  <a href="" class="vote" vote-type="U" answer-id="{{ answer.id }}"><i class="fas fa-thumbs-up"></i>Up vote</a>  
                  <a href="" class="vote" vote-type="D" answer-id="{{ answer.id }}"><i class="fa-solid fa-thumbs-down"></i>Down vote</a> 
          
                  {% if moderator == True %}
                    <a href="{% url 'mark-as-answer' course.id question.id answer.id %}"><i class="fa-solid fa-check"></i>Mark as answer</a>
                  {% endif %}
          
                  <span class="card-title"><b>Votes</b></span>
                  <span id="answerVotes{{ answer.id }}" class="card-title"><b>{{ answer.votes }}</b></span>
          
                </div>
          
                </div>
          
                </div>
                </div>
              </div>
                {% endfor %}             
              </div>                    
              <div class="col s12">
                <h5><b>Your answer</b></h5>
                <div class="divider"></div>          
                <div class="card">
                  <form method="post" action="" role="form" class="col s12">
                    {% csrf_token %}
                    <div class="input-field col s12">
                      {{ form.body }}
                    </div>
                    <div class="input-field col s12">
                      <div class="mt-3">
                        <button class="btn btn-primary" type="submit" name="button">Add Answer</button>
                        <a class="btn btn-secondary" href="{% url 'questions' course.id %}">Cancel</a>
                      </div>
                    </div>
                    
                  </form>
                </div>          
              </div>          
              <div class="col s12 m12 center-align">
                {% if questions.has_previous %}
                  <a href="?page={{ questions.previous_page_number }}" class="btn"><i class="material-icons">arrow_back</i>Back</a>
                {% endif %}
          
                {% if questions.has_next %}
                  <a href="?page={{ questions.next_page_number }}" class="btn"><i class="material-icons">add</i>Load more</a>
                {% endif %}  
          
              </div>          
            </div>
         </div>
        </section>
      </div>
    </div>
{% endblock %}