{% extends 'baseregister.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{%block css%}{%endblock%}
{% block content %}
<div class="row mx-auto">
    <!-- design -->
    <div class=" col-lg-6  text-white " style="background-color: #0053cb;">
        <div class="container" >
            <!--margin: 64px;-->
            <h2 class="text-center pt-5 mx-5 "><span class="fw-bold">SmartEDU is the best </span>online learning
                experience</h2>
            <div class="container">
                <div class="carousel-slide mb-3" data-bs-ride="carousel">
                    <div class="container">
                        <div class="carousel-indicators" style="top: 684px;position: relative;">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                    </div>
                    <div class="carousel-inner py-3 text-center mx-auto  mb-5">
                        <div class="carousel-item active" data-bs-interval="1000">
                            <img src="{% static 'images/Auth1.png'%}" alt="photo"width="40%">
                            <p class="text-center pb-4">No more frequent flaws, no boundaries between the
                                teacher and his students.</p>
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                            <img src="{% static 'images/Auth2.png'%}" alt="photo"width="40%">
                            <p class="text-center ">“You will never walk alone” is what we worked for
                                in order to reduce the gap between student and the
                                teacher.</p>
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                            <img src="{% static 'images/Auth3.png'%}" alt="photo"width="40%">
                            <p class="text-center  ">No matter how complex your course content is,
                                Smart-edu is smart enough to keep students focused on what
                                they have to
                                do.</p>
                        </div>
    
                    </div>
    
                </div>
            <div class="text-center mx-auto py-5 position-relative top-100 start-50 translate-middle mt-5">
                <p class="mb-4 mt-5 " >New to Smart edu?</p>
                <a href="{% url 'register' %}" class="text-white text-decoration-none"><button type="button" class="bg-transparent btn btn-outline-light px-5 mx-auto ">Create a new account</button></a>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-6 mt-lg-5 pt-lg-5" >
        <div class=" container mt-lg-5 pt-lg-5 ">
            <h3 class="text-primary mt-lg-5 pt-5">Login</h3>  
            <p class="text-muted ">to start using SmartEDU</p>
            <hr>
            <!-- form -->
                <form action="{% url 'user_login' %}" method="post">
                  <div class="form-group">
                  {% csrf_token %}
                  <div class="col-md-12">
                    <div class="row">
                  <label for="username">Username:</label>
                  <input type="text" name="username" placeholder="Username" class="form-control">
                  
                  <label for="password">Password:</label>
                  <input type="password" name="password" class="form-control">
                  </div>
                  <div class="row justify-content-center">
                      <input type="submit" value="Login" class="btn bg-primary text-white btn-lg mt-3">
                  </div>
                  <div class="form-1contain_div">
                    <a href="{% url 'password_reset' %}"class="text-decoration-none">Forgot your password?</a>
                </div>
                  </div>
                  </div>
                </form>
        </div>
    </div>
    
</div>
{% endblock %}