{% extends 'base.html' %}
{% load static %}
{% block title %}{{ course.title }}/{{module.title}}/{{ quiz.title }}{% endblock %}
{% block contentcourse %}
<br>
<br>
<br>
<br>
<div class="mt-5 row mx-auto">
  <div class="col-md-3  mb-4 text-center">
      <h1 class="pb-3 mx-auto bg-white" style="color: #0053cb;" >{{ course.title }}</h1>
      <div class="bg-light gy-5  hover-overlay ripple shadow-2-strong rounded-5 ">            
      {% if user.profile.user_type == 'teacher' %}
      <h4 class="border-scandary border-bottom py-4"><a href="{% url 'edit-course' course.id %}" class="text-decoration-none row"><i class="fa-solid fa-file-pen col-4 "></i>Edit course</a></h4>
      {% else %}
      
      {% endif %}            
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'modules' course.id %}"class="text-decoration-none row"><i class="fa-solid fa-file col-4 "></i>units</a></h4>
        {% if user.profile.user_type == 'student' %}
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'submissions' course.id %}"class="text-decoration-none row"><i class="fa-solid fa-chart-column col-4 "></i>Submissions</a></h4>
        {% endif %}
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'leaderboardcourse' course.id %}"class="text-decoration-none row"><i class="fa-solid fa-house-chimney col-4 "></i>Leaderboard</a></h4>
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'questions' course.id %}" class="text-decoration-none row"><i class="fa-solid fa-circle-question col-4"></i>Questions</a></h4>
        {% if user.profile.user_type == 'teacher' %}
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'student-submissions' course.id %}"class="text-decoration-none row"><i class="fa-solid fa-chart-column col-4 "></i>Submissions</a></h4>
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'student-quiz-submissions' course.id %}"class="text-decoration-none row"><i class="fa-solid fa-chart-column col-4 "></i>QuizSubmissions</a></h4>
        {% endif %}  
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'chatzoom'%}"class="text-decoration-none row"><i class="fa-solid fa-video col-4"></i>Start Meeting</a></h4>
        <h4 class="border-scandary border-bottom py-4"><a href="{% url 'rooms' course.id%}"class="text-decoration-none row"><i class="fa-solid fa-message col-4"></i>Chat Room</a></h4>
                  
      </div>
    </div>
  <div class="col-md-8  mb-4">
<!-- eman -->
<div class=" container " >
  <div class=" text-start "style="font-family: 'Montserrat';">
      <div class="mx-5">
          <div class="row text-uppercase border-bottom border-secandary">
          <h5 class="col-8 text-primary">Quiz</h5> 
        {% if my_attempts.count == 0 %}
        <p class="col-3 text-danger text-end">Not submitted</p>
        {% else %}  
        <p class="col-3 text-primary text-end">submitted</p>
        {% endif %}
          <!-- after submitted
              <p class="col-3 text-success text-end"> submitted</p> -->
      </div>
      <div class=" mx-4 mb-2 mt-5" >
                  <div class="form-control">     
                    <table class="table table-light">
                      <tr>
                        <th>Quiz Name</th>
                        <td>{{ quiz.title }}</td>
                      </tr>
                      <tr>
                        <th>Submit Start Time</th>
                        <td>{{ quiz.start_time }}</td>
                      </tr>
                      {{ quiz.start_time | json_script:'starttime'}}
                      <tr>
                        <th>Submit End Time</th>
                        <td>{{ quiz.end_time }}</td>
                      </tr>
                      {{ quiz.end_time | json_script:'endtime'}}
                      <tr>
                        <th>{{user.username}} score</th>
                        <td>
                          <ul class="list-group">
                            {% for attempt in my_attempts %}
                              <li class="list-group-item">
                              <div><a href="{% url 'attempt-detail' course_id module_id quiz.id attempt.id %}"><h6>Scored: {{ attempt.score }}</h6></a></div>
                              </li>
                            {% endfor %}    
                          </ul> 
                        </td>
                      </tr>
                    </table>
                   </div>
       
     
      <div class="mt-3 d-grid gap-2 d-md-flex justify-content-md-end">
        {% if my_attempts.count == 0 %}
          <button class="btn btn-outline-primary me-md-2" type="button" id="submiteman"><a class="btn" href="{% url 'take-quiz' course_id module_id quiz.id %}">Start Quiz</a></button>
          <button class="btn btn-outline-danger" type="button"><a class="btn" href="{% url 'modules' course.id %}">Cancel</a></button>
        {% else %}  
          <button class="btn btn-outline-danger" type="button"><a class="btn" href="{% url 'modules' course.id %}">Cancel</a></button>
        {% endif %}
        </div>

  </div>
</div>
</div>
</div>
<!-- eman end -->        
      </div>
    </div>
<script>
var starDate = JSON.parse(document.getElementById('starttime').textContent);
var endDate = JSON.parse(document.getElementById('endtime').textContent);
var v1 =new Date(starDate).getTime();
var v2 =new Date(endDate).getTime();
var uv1 =v1-7198566;
var uv2 =v2-7198566;
var x = setInterval(function() {
  var now = new Date().getTime();
  console.log(now);
  console.log(uv1);
  console.log(uv2);
if(now > uv1 && uv2 > now ){
  document.getElementById("submiteman").disabled = false;
}
else{
  document.getElementById("submiteman").disabled = true;
}
}, 1000);
</script>
{% endblock %}