{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if user.profile.user_type == 'teacher' %}
EDIT COURSE or ADD MATERIAl
{% else %}
{{ course.title }}
{% endif %} 
{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container mt-5 pt-3">
    <h1 class="py-3 mx-auto ms-3" style="color: #0053cb;" >{{ course.title }}</h1>
    <section>
      <div class="row">
        <div class="col-8 mx-auto">
          <div class="card">
            <!-- start -->
            <img src="{% static 'images/warning.png' %}"id="imgCard" class="img-fluid" style=" height: 300px;" />            
            <div class="card-body">
            <h3 class="card-title" style="color: #f10404;"><i class="fa-solid fa-triangle-exclamation"></i>  Becareful if you click the Delete button,This course will be deleted tottaly from the database     <i class="fa-solid fa-triangle-exclamation"></i></h3>
            </div>
            <br>
            <!-- end -->
            <div class="mx-auto mb-5">
            <a href="{% url 'delete-course' course.id %}" class="col mx-auto btn btn-outline-danger">Delete</a>
            <a class="col mx-auto btn btn-primary" href="{% url 'course' course.id %}">Cancel</a>
            </div>
        </div>
        </div>
      </div>
    </section>
</div>
{% endblock %}
